.header {
    margin-top: 0;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem;
    width: 100%;
}

.section {
    background-color: #15212a;
    color: white;
    border-radius: 12px;
    width: 80%;
    max-width: 800px;
    padding: 2rem 5rem;
    margin-bottom: 4rem;
}

.label {
    display: block;
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 6px;
}

.inputwrapper {
    display: flex;
    height: 50px;
    width: 100%;
}

.button {
    border-radius: 0.25rem;
    font-weight: 600;
    display: inline-flex;
    appearance: none;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    transition: all 250ms ease 0s;
    user-select: none;
    position: relative;
    white-space: nowrap;
    vertical-align: middle;
    line-height: 1.2;
    outline: none;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: rgb(88, 79, 255);
    color: rgb(255, 255, 255);
    outline: none;
    border: none;
    margin-left: 16px;
}
.button:hover {
    cursor: pointer;
    opacity: 0.8;
}
.button:disabled {
    background-color: gray;
    cursor: not-allowed;
}

.input {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    transition: all 0.2s ease 0s;
    outline: none;
    appearance: none;
    font-size: 0.875rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    border-radius: 0.125rem;
    border-width: 1px;
    border-style: solid;
    border-image: initial;
    border-color: inherit;
    background-color: rgb(255, 255, 255);
}

/* spinner */
.spinner {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.spinner div {
    position: absolute;
    top: 33px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.spinner div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}
.spinner div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}
.spinner div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}
.spinner div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(24px, 0);
    }
}
